      <paper-item label="About" layout center>About</paper-item>
      <section label="About">
        <p>
          The invention of the telegraph in the 1830's and 40's marked
          the beginning of many changes in our world.
        </p><p>
          <strong>Electro-informational codes.</strong>
          The telegraph key completed a circuit which sent a current
          through a wire to an electro-magnet at the remote station.
          The electro-magnet made a series of marks on a paper strip
          as the current came and went.  The pattern of long and short
          pulses of current and absence of current was used to encode
          the alphabet, the numbers, and other symbols.
        </p><p>
          <strong>Human-machine interaction.</strong>
          The electro-magnet that reacted to the telegraph current
          made clicks as it closed and opened.  It turned out, totally
          unexpectedly, that the operators learned translate the
          sequences of clicks back into the original symbols.  So a 
        </p><p>
          <strong>Twitch games.</strong>
          A manually operated telegraph key achieves speeds of 20
          words per minute when the operator is capable of controlling
          16 or 32 twitches per second, depending on whether you count
          the on and off transitions as separate twitches.
        </p><p>
          <strong>Technical obsolescence.</strong>
          To be a telegrapher in the middle of the nineteenth century,
          or a radio-telegrapher in the early twentieth century was to
          be at the cutting edge of technology. Now you need to be a
          steam punk or gas punk re-enactor or a radio amateur.
        </p><p>
          <strong>All those wires.</strong>
          Wires were strung across the land and on the bottom of the
          seas.  Then wires were strung to be antennas for wireless
          communication.  All parts of the world became easier to
          reach, more instantaneous
          to connect everyone who could
          pay to send messages as 
        </p><p>
          <strong>Or a radio amateur.</strong>
          Learning morse code was once required for a US amateur
          license, bu the requirement has dwindled away to nothing.
          Yet many amateurs operate CW (continuous wave) still,
          because it is inexpensive, reliable, portable,
          minimalist. and fun.
        </p><p>
          So this app is my way to learn morse code.  And how to
          program web applications.  And how to program the digital
          signal processing required to transmit and receive morse
          code.
        </p><p>
          The source code for this app is available at
          <a href="github.com/recri/morse-code-polymer-0.5">github</a>.
        </p>
      </section>

