	    <div layout horizontal block center>
	      <paper-dropdown-menu label="training-words" on-core-select="{{training_words_select}}">
		<paper-dropdown class="dropdown">
		  <core-menu class="menu" selected="0" selectedItem="{{selected_training_words}}">
		    <paper-item id="morse">Morse</paper-item>
		    <paper-item id="iambic">English</paper-item>
		    <paper-item id="callsigns">English</paper-item>
		  </core-menu>
		</paper-dropdown>
	      </paper-dropdown-menu>Training Words
	    </div>
