<html>
  <head>
    <link rel="import" href="../bower_components/core-collapse/core-collapse.html">
    <link rel="import" href="../bower_components/core-menu/core-menu.html">
    <link rel="import" href="../bower_components/core-icons/core-icons.html">
    <link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-input/paper-autogrow-textarea.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../bower_components/paper-progress/paper-progress.html">
    <link rel="import" href="../bower_components/paper-slider/paper-slider.html">
    <link rel="import" href="morse-station.html">
  </head>
  <body>
    <polymer-element name="morse-output">
      <template>
	<style>    
	  :host {
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    box-sizing: border-box;
	  }
	  section {
	    margin: 20px;
	  }
	  paper-autogrow-textarea {
	    margin: 10px;
	  }
	  .heading {
	    padding: 10px 15px;
	    background-color: #f3f3f3;
	    border: 1px solid #dedede;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    font-size: 18px;
	    cursor: pointer;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	  }
	  .content {
	    padding: 15px;
	    border: 1px solid #dedede;
	    border-top: none;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	  }
	  .heading core-icon {
	    margin: 0px 10px;
	  }
	</style>
	<section>
	  <morse-station id="station"
			 output_pitch="{{output_pitch}}" output_gain_dB="{{output_gain_dB}}" output_wpm="{{output_wpm}}"
			 output_rise_ms="{{output_rise_ms}}" output_fall_ms="{{output_fall_ms}}" output_dah="{{output_dah}}"
			 output_ies="{{output_ies}}" output_ils="{{output_ils}}" output_iws="{{output_iws}}"
			 output_midi="{{output_midi}}"></morse-station>
	  <div layout vertical block>
	    <div layout horizontal block center>
	      <!--  -->
	      <paper-input id="input" label="Text to send:" on-keydown="{{onkeydown}}"></paper-input>
	      <div layout horizontal block center>
		<core-tooltip label="clear input text">
		  <paper-icon-button icon="clear" on-click="{{clear_input}}"></paper-icon-button>
		</core-tooltip>
		<core-tooltip label="send input text">
		  <paper-icon-button icon="send" on-click="{{send_input}}"></paper-icon-button>
		</core-tooltip>
		<core-tooltip label="cancel output">
		  <paper-icon-button icon="cancel" on-click="{{output_cancel}}"></paper-icon-button>		
		</core-tooltip>
	      </div>
	    </div>
	    <div layout horizontal block top>
	      <paper-autogrow-textarea rows="4" maxrows="10">
		<textarea readonly>{{decoded_text}}</textarea>
	      </paper-autogrow-textarea>
	      <paper-icon-button icon="clear" on-click="{{clear_textarea}}"></paper-icon-button>
	    </div>

	    <!-- output settings -->
	    <div class="heading" layout horizontal block center on-click="{{settings_toggle}}">
	      <core-icon icon="settings"></core-icon>
              Settings
	      <span layout flex></span>
	      <paper-icon-button icon="expand-more"></paper-icon-button>
	    </div>

	    <core-collapse id="settings">
	      <div class="content" layout vertical block>

		<!-- output pitch -->
		<div layout horizontal block center>
		  <paper-slider value="{{output_pitch}}" min="220" max="1760" pin="true" snap="true"></paper-slider>
		  <core-tooltip label="sidetone frequency">Pitch <span>{{output_pitch}}</span> Hz</core-tooltip>
		</div>

		<!-- output level -->
		<div layout horizontal block center>
		  <paper-slider value="{{output_gain_dB}}" min="-60" max="0" pin="true" snap="true"></paper-slider>
		  <core-tooltip label="sidetone level">Level <span>{{output_gain_dB}}</span> dB</core-tooltip>
		</div>
		
		<!-- output words per minute -->
		<div layout horizontal block center>
		  <paper-slider value="{{output_wpm}}" min="5" max="50" step="2.5" pin="true" snap="true"></paper-slider>
		  <core-tooltip label="keying speed">Speed <span>{{output_wpm}}</span> wpm</core-tooltip>
		</div>

		<!-- more output settings -->
		<div class="heading" layout horizontal block center on-click="{{more_settings_toggle}}">
		  <core-icon icon="settings"></core-icon>
		  More Settings
		  <span layout flex></span>
		  <paper-icon-button icon="expand-more"></paper-icon-button>
		</div>

		<core-collapse id="more_settings">
		  <div class="content" layout vertical block>

		    <!-- output rise time -->
		    <div layout horizontal block center>
		      <paper-slider value="{{output_rise_ms}}" min="1" max="10" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="envelope rise time">Rise <span>{{output_rise_ms}}</span> ms</core-tooltip>
		    </div>
		    
		    <!-- output fall time -->
		    <div layout horizontal block center>
		      <paper-slider value="{{output_fall_ms}}" min="1" max="10" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="envelope fall time">Fall <span>{{output_fall_ms}}</span> ms</core-tooltip>
		    </div>

		    <!-- output dah length -->
		    <div layout horizontal block center>
		      <paper-slider value="{{output_dah}}" min="2.5" max="3.5" step="0.1" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="Dash length.">Dah <span>{{output_dah}}</span> dits</core-tooltip>
		    </div>

		    <!-- output inter-element space length -->
		    <div layout horizontal block center>
		      <paper-slider value="{{output_ies}}" min="0.75" max="1.25" step="0.05" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="Inter-element spacing.">IES <span>{{output_ies}}</span> dits</core-tooltip>
		    </div>

		    <div layout horizontal block center>
		      <paper-slider value="{{output_ils}}" min="2.5" max="3.5" step="0.1" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="Inter-letter spacing.">ILS <span>{{output_ils}}</span> dits</core-tooltip>
		    </div>

		    <div layout horizontal block center>
		      <paper-slider value="{{output_iws}}" min="6.5" max="7.5" step="0.1" pin="true" snap="true"></paper-slider>
		      <core-tooltip label="Inter-word spacing.">IWS <span>{{output_iws}}</span> dits</core-tooltip>
		    </div>

		    <div layout horizontal block center>
		      <paper-dropdown-menu label="MIDI Device">
			<paper-dropdown class="dropdown">
			  <core-menu class="menu" valueattr="label" selected="{{output_midi}}">
			    <paper-item label="none">None</paper-item>
			  </core-menu>
			</paper-dropdown>
		      </paper-dropdown-menu>MIDI Device<core-tooltip label="Reload the MIDI device list.">
			<paper-icon-button icon="refresh" on-click="{{output_midi_refresh}}"></paper-icon-button>
		      </core-tooltip>
		    </div>
		  </div>
		</core-collapse>

              </div>
            </core-collapse>

	    <!-- output information -->
	    <div class="heading" layout horizontal block center on-click="{{info_toggle}}">
	      <core-icon icon="info"></core-icon>
              Info
	      <span layout flex></span>
	      <paper-icon-button icon="expand-more"></paper-icon-button>
	    </div>

	    <core-collapse id="info">
	      <div class="content" layout vertical block>
                <p>
                  There are several ways to key.
                </p><p>
                </p>
              </div>
            </core-collapse>

	  </div>
	</section>
      </template>
      <script>
    Polymer({
	publish : {
            output_pitch : 550,
            output_gain_dB : -26,
            output_wpm : 15,
            output_rise_ms : 4,
            output_fall_ms : 4,
            output_dah : 3,
            output_ies : 1,
            output_ils : 3,
            output_iws : 7,
            output_midi : 'none',
	    decoded_text : "",
	},

	ready : function() {
            this.$.station.output_decoder_on_letter(this.onletter, this);
	},

	output_midi_refresh : function() { this.$.station.output_midi_refresh(); },
	output_midi_names : function() { return this.$.station.output_midi_names(); },

        settings_toggle : function() { this.$.settings.toggle(); },
        more_settings_toggle : function() { this.$.more_settings.toggle(); },
        info_toggle : function() { this.$.info.toggle(); },

	// output_pitchChanged : function(oldv, newv) { this.attrChanged('output_pitch', oldv, newv); },
	// output_gain_dBChanged : function(oldv, newv) { this.attrChanged('output_gain_dB', oldv, newv); },
	// output_wpmChanged : function(oldv, newv) { this.attrChanged('output_wpm', oldv, newv); },
	// output_rise_msChanged : function(oldv, newv) { this.attrChanged('output_rise_ms', oldv, newv); },
	// output_fall_msChanged : function(oldv, newv) { this.attrChanged('output_fall_ms', oldv, newv); },
	// output_dahChanged : function(oldv, newv) { this.attrChanged('output_dah', oldv, newv); },
	// output_iesChanged : function(oldv, newv) { this.attrChanged('output_ies', oldv, newv); },
	// output_ilsChanged : function(oldv, newv) { this.attrChanged('output_ils', oldv, newv); },
	// output_iwsChanged : function(oldv, newv) { this.attrChanged('output_iws', oldv, newv); },
	// output_midiChanged : function(oldv, newv) { this.attrChanged('output_midi', oldv, newv); },

	// attrChanged : function(attr, oldv, newv) { console.log("output:"+attr, "oldv="+oldv, "newv="+newv); },

	output_send : function(text) { this.$.station.output_send(text); },
	output_cancel : function() { this.$.station.output_cancel(); },

	onkeydown : function(event, detail, sender) {
            if (event.keyCode == 13) {
		this.output_send(this.$.input.value);
		this.$.input.value = "";
		return false;
            } else {
		return true;
            }
	},
	clear_textarea : function(event, detail, sender) { this.decoded_text = ""; },
	clear_input : function(event, detail, sender) { this.$.input.value = ""; },
	send_input : function(event, detail, sender) {
            this.output_send(this.$.input.value);
            this.$.input.value = "";
	},
	onletter : function(letter, code) { this.decoded_text += letter; },
    });
      </script>
    </polymer-element>
  </body>
</html>
