<!-- -*- mode: html; indent-tabs-mode: nil; -*- -->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="morse-decoded-text">
  <template>

    <style>    
	  :host {
	    display: block;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    box-sizing: border-box;
	  }
	  .wrapper {
	    margin: 10px;
	    position: relative;
	  }
	  #decoded_text {
	    background-color: white;
	    height: 5em;  
	  }
	  .clear-icon {
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 1;
	    background-color: transparent;
	    cursor: pointer;
	  }
    </style>

    <div class="wrapper" flex>
      <div flex id="decoded_text"></div>
	<paper-icon-button class="clear-icon" icon="clear" on-click="{{clear_decoded_text}}"></paper-icon-button>
    </div>
    <!-- <core-tooltip label="clear text area"></core-tooltip> -->
  </template>

  <script>
    Polymer({
	properties : {
	},

	// key station target
	keystation : null,
	set_keystation : function(station) { this.keystation = station; },

	onblur : function() {
	    // console.log('decoder.onblur');
	    this.keystation.output_decoder_off_letter(this.onletter_output, this);
	    this.keystation.input_decoder_off_letter(this.onletter_input, this);
	},

	onfocus : function() {
            // console.log('decoder.onfocus');
	    this.keystation.output_decoder_on_letter(this.onletter_output, this);
	    this.keystation.input_decoder_on_letter(this.onletter_input, this);
	},
	input : "",
	output : "",
	get_results : function() { return [this.input, this.output]; },
	clear_results : function() { this.input = this.output = ""; },
	onletter_input : function(ltr, code) {
	    this.$.decoded_text.innerHTML += "<i>"+ltr+"</i>";
	    this.input += ltr;
	},
	onletter_output : function(ltr, code) {
	    this.$.decoded_text.innerHTML += ltr;
	    this.output += ltr;
	},
	clear_decoded_text : function() { this.$.decoded_text.innerHTML = ""; },
    });
</script>
      
</polymer-element>

