<!-- -*- mode: html; indent-tabs-mode: nil; -*- -->
<html>
  <head>
    <link rel="import" href="../bower_components/core-collapse/core-collapse.html">
    <link rel="import" href="../bower_components/core-menu/core-menu.html">
    <link rel="import" href="../bower_components/core-icons/core-icons.html">
    <link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-input/paper-autogrow-textarea.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../bower_components/paper-progress/paper-progress.html">
    <link rel="import" href="../bower_components/paper-slider/paper-slider.html">
    <link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
    <link rel="import" href="morse-station.html">
    <link rel="import" href="morse-decoded-text.html">
    <link rel="import" href="morse-key.html">
  </head>
  <body>
    <polymer-element name="morse-input">
      <template>
	<style>    
	  :host {
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    box-sizing: border-box;
	  }
          section {
	    margin: 20px;
          }
	  .heading {
	    padding: 10px 15px;
	    background-color: #f3f3f3;
	    border: 1px solid #dedede;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    font-size: 18px;
	    cursor: pointer;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	  }
	  .content {
	    padding: 15px;
	    border: 1px solid #dedede;
	    border-top: none;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	  }
	  .heading core-icon {
	    margin: 0px 10px;
	  }
	</style>
	<section layout vertical block>
	  <morse-station id="station"
			 input_pitch="{{input_pitch}}" input_gain_dB="{{input_gain_dB}}" input_wpm="{{input_wpm}}"
			 input_rise_ms="{{input_rise_ms}}" input_fall_ms="{{input_fall_ms}}" input_dah="{{input_dah}}"
			 input_ies="{{input_ies}}" input_ils="{{input_ils}}" input_iws="{{input_iws}}"
			 input_midi="{{input_midi}}" input_swapped="{{input_swapped}}" input_type="{{input_type}}"></morse-station>

	  <div layout horizontal block top hero-id="decoder" hero>
	    <morse-decoded-text id="decoder"></morse-decoded-text>
	  </div>

	  <div layout horizontal hero-id="key" hero>
	    <morse-key id="key"></morse-key>
	  </div>

          <!-- input settings -->
	  <div class="heading" layout horizontal block center on-click="{{settings_toggle}}" hero-id="settings" hero>
	    <core-icon icon="settings"></core-icon>
            Settings
	    <span layout flex></span>
	    <paper-icon-button icon="expand-more"></paper-icon-button>
	  </div>

	  <core-collapse id="settings" hero-id="settings2" hero>
	    <div class="content" layout vertical block>
              
	      <div layout horizontal block center>
	        <paper-dropdown-menu>
		  <paper-dropdown class="dropdown">
		    <core-menu class="menu" valueattr="label" selected="{{input_type}}">
		      <paper-item label="straight">Straight Key</paper-item>
		      <paper-item label="iambic">Iambic Paddle</paper-item>
		    </core-menu>
		  </paper-dropdown>
	        </paper-dropdown-menu>Key Type
	      </div>

	      <div layout horizontal block center>
	        <paper-toggle-button iambic label="Swap Paddles" checked="{{input_swapped}}"></paper-toggle-button>Swap Paddles
	      </div>
              
	      <div layout horizontal block center>
	        <paper-slider value="{{input_pitch}}" min="220" max="1760" pin="true" snap="true"></paper-slider>
	        <core-tooltip label="sidetone frequency">Pitch <span>{{input_pitch}}</span> Hz</core-tooltip>
	      </div>
              
	      <div layout horizontal block center>
	        <paper-slider value="{{input_gain_dB}}" min="-60" max="0" pin="true" snap="true"></paper-slider>
	        <core-tooltip label="sidetone level">Level <span>{{input_gain_dB}}</span> dB</core-tooltip>
	      </div>
              
	      <div layout horizontal block center>
	        <paper-slider iambic value="{{input_wpm}}" min="5" max="50" step="2.5" pin="true" snap="true"></paper-slider>
	        <core-tooltip label="key speed">Speed <span>{{input_wpm}}</span> wpm</core-tooltip>
	      </div>
              
              <!-- more input settings -->
	      <div class="heading" layout horizontal block center on-click="{{more_settings_toggle}}">
	        <core-icon icon="settings"></core-icon>
                More Settings
	        <span layout flex></span>
	        <paper-icon-button icon="expand-more"></paper-icon-button>
	      </div>
              
              <core-collapse id="more_settings">
                <div class="content" layout vertical block>
                  
                  <div layout horizontal block center>
                    <paper-slider value="{{input_rise_ms}}" min="1" max="10" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="envelope rise time">Rise <span>{{input_rise_ms}}</span> ms</core-tooltip>
                  </div>
                  
                  <div layout horizontal block center>
                    <paper-slider value="{{input_fall_ms}}" min="1" max="10" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="envelope fall time">Fall <span>{{input_fall_ms}}</span> ms</core-tooltip>
                  </div>

                  <div layout horizontal block center>
                    <paper-slider iambic value="{{input_dah}}" min="2.5" max="3.5" step="0.1" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="dash length">Dah <span>{{input_dah}}</span> dits</core-tooltip>
                  </div>
                  <div layout horizontal block center>
                    <paper-slider iambic value="{{input_ies}}" min="0.75" max="1.25" step="0.05" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="inter-element space length">IES <span>{{input_ies}}</span> dits</core-tooltip>
                  </div>
                  <div layout horizontal block center>
                    <paper-slider iambic value="{{input_ils}}" min="2.5" max="3.5" step="0.1" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="inter-letter space length">ILS <span>{{input_ils}}</span> dits</core-tooltip>
                  </div>
                  <div layout horizontal block center>
                    <paper-slider iambic value="{{input_iws}}" min="6.5" max="7.5" step="0.1" pin="true" snap="true"></paper-slider>
                    <core-tooltip label="inter-word space length.">IWS <span>{{input_iws}}</span> dits</core-tooltip>
                  </div>
                  
                  <div layout horizontal block center>
                    <paper-dropdown-menu label="MIDI Device">
                      <paper-dropdown class="dropdown">
                        <core-menu class="menu" valueattr="label" selected="{{input_midi}}">
                          <paper-item label="none">None</paper-item>
                        </core-menu>
                      </paper-dropdown>
                    </paper-dropdown-menu>
                    <core-tooltip label="Reload the MIDI device list.">
                      <paper-icon-button id="input_midi_reload" icon="refresh"></paper-icon-button>
                    </core-tooltip>MIDI Device
                  </div>
                  
                </div>
              </core-collapse>
              
            </div>
          </core-collapse>

          <!-- input information -->
	  <div class="heading" layout horizontal block center on-click="{{info_toggle}}" hero-id="information" hero>
	    <core-icon icon="info-outline"></core-icon>
            Info
	    <span layout flex></span>
	    <paper-icon-button icon="expand-more"></paper-icon-button>
	  </div>
          
	  <core-collapse id="info" hero-id="information2" hero>
	    <div class="content" layout vertical block>
              <p>
                There are several ways to key.
              </p><p>
              </p>
            </div>
          </core-collapse>
	</div>
      </template>
      <script>
    Polymer({
	publish : {
	    // shared with morse-station and local controls
            input_pitch : 600,
            input_gain_dB : -26,
            input_wpm : 15,
            input_rise_ms : 4,
            input_fall_ms : 4,
            input_dah : 3,
            input_ies : 1,
            input_ils : 3,
            input_iws : 7,
            input_midi : "none",
            input_swapped : false,
            input_type : 'iambic',
	},

	ready : function() {
	    // console.log('ready in morse-input', this.$.key, this.$.station);
	    this.$.decoder.set_keystation(this.$.station);
	    this.$.key.set_keystation(this.$.station);
	},

        settings_toggle : function() { this.$.settings.toggle(); },
        more_settings_toggle : function() { this.$.more_settings.toggle(); },    
        info_toggle : function() { this.$.info.toggle(); },

	input_typeChanged : function(oldv, newv) {
	    var disabled = newv != 'iambic';
	    var elts = this.shadowRoot.querySelectorAll("[iambic]");
	    for (var i = 0; i < elts.length; i += 1) elts[i].disabled = disabled;
	    // this.attrChanged('input_type', oldv, newv);
	},

	input_midi_refresh : function() { this.$.station.input_midi_refresh(); },
	input_midi_names : function() { return this.$.station.input_midi_names(); },

	// key event handlers now inside morse-key component

	set_keytarget : function(target) { this.$.key.set_keytarget(target); },
	
	onblur : function() {
	    // console.log('input.onblur');
	    this.$.decoder.onblur();
	    this.$.key.onblur();
	},

	onfocus : function() {
	    // console.log('input.onfocus');
	    this.$.decoder.onfocus();
	    this.$.key.onfocus();
	},

        
    });
      </script>
    </polymer-element>
  </body>
</html>
